.not-found-page {
  color primary
  text-align center
  margin-block-start 10%
  position relative
  .logo-404-image {
    height 400px
    width 100%
    margin auto
    position relative
  }
  .not-found-title {
    font-size: 50px
    font-weight: 700
  }
  .explain {
    p {
      margin-bottom: 20px
    }
  }
}

.redirect {
  margin-top: 50px
  span {
    color: primary;
    border-radius: 6px
    background: transparent;
    border: 2px solid primary;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.1s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-weight 550
    width: 190px
    &:hover {
      background-color: primary;
      color: white;
    }
  }

}