.device-new-route{
  position relative
  margin-bottom 100px
  min-height 300px
  .create-btn{
    font-size 13px
  }
  .dn-title{
    margin 30px 0
    font-size 20px
    font-weight 500
    color #4a4a4a
  }
}