.k-navbar{
  box-shadow 0px 1px 15px 1px rgba(69,65,78,0.1)
  padding 10px
  z-index 100
  .navbar-brand{
    color #6d6a6a !important
    font-size 15px
    cursor pointer
  }
  .user-actions{
    & > span{
      font-size 14px
      pointer-events none
    }
  }
  .btn-signout{
    text-align center
    margin-left 15px
    background-color #0a8cf0
    color white
    font-size 13px

  }



}