.login-route{
  width 100%
  height 100%


  .panel-footer{

    .forgot-password{
      margin-bottom 20px
      text-align right
      span{
        font-size 14px
        color #36a3f7
        cursor pointer
        &:hover{
          color darken(#36a3f7, 15%)
        }
      }
    }
    button{
      font-size 15px
      width 100%
    }
  }
}
