
.registration-route{
  width 100vw
  height 100vh
  background-image: url("../assets/img/grey.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .registration-btn{
    position relative
    height 40px
    font-size 15px
    display flex
    justify-content center
    align-items center
    .registration-loading{
      color white
      font-size 22px
    }
  }
  .registration-panel-wrap{
    width 100%
    height 100%
    display flex
    align-items center
    justify-content center
    .registration-panel{
      padding 50px
      border-radius 5px
      background-color white
      width 400px
      border 1px solid #f2f2f2
      box-shadow 8.49945px 8.49945px 4.24972px rgba(0,0,0,.25)
      .panel-body{
        .err-server{
          color #f4516c
          font-size 13px
        }
      }
      .panel-header{
        text-align center
        padding-bottom 30px
      }
      .registration-input{
        label{
          font-size 14px
          font-weight 500
        }
        .form-control-feedback
        {
          font-size 12px
          font-weight 500
        }
        input{
          font-size 14px

        }
      }

    }
  }
}
