.k-menu-bar{
  width 250px
  height 100vh
  box-shadow 0px 1px 15px 1px rgba(69,65,78,0.1)
  background-color black
  .menu-header{
    background-color #f8f9fa
    display flex
    justify-content center
    align-items center
    height 75px
    .menu-brand{
      display inline-block
      img{
        height 60px
        cursor pointer
      }
      padding 15px 0
    }
  }
  .menu-body{
    height calc(100vh - 75px)
    background-color rgba(primary, 0.4)
  }


}