.navigations{
  padding-top 50px
  & > div{
    overflow-y auto
    height 600px
  }
  .each-nav{
    padding 15px 15px
    color white
    cursor pointer
    font-size 15px
    font-weight 550
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    i{
      margin-right 20px
      font-size 20px
    }
    &:hover{
      background-color rgba(66,139,202,0.8)
      color white
    }
    &.active{
      background-color white
      color primary
    }
  }
}